appdirs==1.4.4
asttokens 
backcall 
backports.functools-lru-cache 
beautifulsoup4==4.12.2
boltons 
botocore
Bottleneck 
brotlipy==0.7.0
certifi==2022.12.7
cffi 
charset-normalizer 
colorama 
contourpy==1.0.7
cryptography 
debugpy 
et-xmlfile==1.1.0
executing 
fluids==1.0.22
fonttools==4.39.0
frozendict==2.3.7
fsspec==2022.10.0
html5lib==1.1
idna 
importlib-metadata 
ipython 
jedi 
jmespath 
joblib==1.2.0
jsonpatch 
jsonpointer==2.0
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
matplotlib-inline 
multitasking==0.0.11
nest-asyncio 
numexpr 
numpy==1.24.2
openpyxl==3.0.9
packaging 
pandas==1.5.3
parso 
patsy==0.5.3
pickleshare
Pint==0.20.1
platformdirs 
plotly==5.13.1
pluggy
ply==3.11
prompt-toolkit 
psutil 
pure-eval 
pwlf==2.2.1
py4j 
pyarrow==8.0.0
pycosat 
pycparser 
pyDOE==0.3.8
Pygments 
Pyomo==6.5.0
pyOpenSSL 
pyparsing==3.0.9
PySocks
pyspark
pytz==2022.7.1
pyzmq 
requests 
ruamel.yaml 
ruamel.yaml.clib 
s3transfer 
scikit-learn==1.2.1
scipy==1.10.1
six 
soupsieve==2.4.1
stack-data 
tenacity==8.2.2
threadpoolctl==3.1.0
toolz 
tornado 
tqdm 
traitlets 
typing_extensions 
wcwidth 
webencodings==0.5.1
win-inet-pton 
wincertstore==0.2
yfinance==0.2.18
zipp 
zstandard==0.18.0
